.icons-sprite, .main-header a.logo {
  background-image: url('../img/icons-scea5ae9b18.png');
  background-repeat: no-repeat;
}

figure.avatar {
  padding: 0;
  margin: 0;
}

.grid-wrap {
  max-width: 1200px;
  width: auto;
  margin: auto;
  padding: 0 1em;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.main-header a.logo {
  display: block;
  background-position: 0 0;
  width: 168px;
  height: 92px;
}
.main-header nav a {
  color: #033434;
  text-decoration: none;
  padding: 2.3em;
  display: inline-block;
  *display: inline;
  text-transform: uppercase;
}

.hero-banner {
  background: url(../img/hero-banner.jpg);
  background-size: cover;
  font-size: 2em;
  padding: 2em;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #FFF;
  text-align: center;
}

.main-content {
  max-width: 800px;
  margin: auto;
}
